@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Multidisplay=swap');


*{
    box-sizing: border-box;
}

body{
    background-color: steelblue;
    color: white;
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Multi", sans-serif;
    height:100vh ;
    overflow: hidden;
    margin: 0;

}
.container {
   background-color: rgb(16, 24, 138);
   padding: 20px 40px;
   border-radius: 5px;
}
.container h1 {
    text-align: center;
    margin-bottom: 30px;
}

.container a {
    text-decoration: none;
    color: lightblue;
}


.form-container {
    position: relative;
    margin:20px 0 40px;
    width:300px;
}

.form-content input{
    background-color: transparent;
    border:0;
    border-bottom: 2px #fff solid;
    display:block;
    width: 100%;
    padding: 15px 0;
    font-size: 20px;
    color:#fff;

}

